/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* NAVBAR */
nav {
  overflow-y: auto;
}

button {
  border: none !important;
}
#logo {
  width: 120px;
  height: 60px;
  color: white;
}

a {
  color: white !important;
  font-size: x-small;
  font-weight: 700;
}

a:hover {
  text-decoration: underline !important;
}

.disabled {
  text-decoration: none !important;
  color: rgb(155, 155, 155) !important;
}

.lnk-cont {
  margin-left: -200px;
}

/* HOME */
#home {
  background-color: black;
  background-image: url(assets/background5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100% !important;
}

#home h1 {
  color: white !important;
  font-family: Montserrat !important;
  font-weight: 600;
  letter-spacing: -4px !important;
  margin-left: 13% !important;
  margin-top: 14% !important;
}

#home h1 span {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home h2 span {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.socials {
  float: right;
  letter-spacing: 40px !important;
  position: sticky;
}

.socials a:hover {
  color: rgb(91, 91, 91) !important;
}

.socials i {
  font-size: 20px;
}
#skills .row {
  overflow-x: hidden;
}
.king-img {
  width: auto;
  height: 500px;
  margin-left: 14.5% !important;

  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);

  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* STRENGTHS */
#strengths {
  background-color: rgb(0, 0, 0);
  top: 0px;
  left: 0px;
  width: auto;
  height: 100vh;
}

#strengths i {
  /* color: rgb(85,85,85); */
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#strengths h2 {
  font-family: Montserrat !important;
  padding-left: 6%;
}

.strength-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background: red; */
}

.strength-items {
  width: 25%;
  height: auto;
}

/* ABOUT */
#about {
  background-image: url(assets/flare.jpg);
  top: 0px;
  left: 0px;
  width: auto;
  height: 100vh;
  background-size: cover;
  color: white;
}

.about-container {
  width: 100% !important;
}

.about-item {
  width: 30%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0px 60px 0px 60px;
  transition: 0.9s ease-in-out;
}

.about-item:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  opacity: 0.5;
  backdrop-filter: brightness(200%);
}

.about-panel-heading {
}

.about-institution {
}

.about-course {
}

hr {
  border-top: 1px solid rgb(255, 255, 255) !important;
}

#exp-item {
  margin-top: 6% !important;
}

/* SKILLS */
#skills {
  background-image: url(assets/wildlife3.jpg);
  top: 0px;
  left: 0px;
  width: 100% !important;
  /* height: 100vh !important; */
  background-size: cover;
  color: white;
  height: fit-content;
}

#leaves-img {
  height: 45rem !important;
  width: 40% !important;
  height: 100vh !important;
  filter: brightness(50%);
  overflow-y: hidden !important;
  animation-name: blowing;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  scroll-behavior: smooth;
}

@keyframes blowing {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(12px, 20px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

progress {
  width: 500px !important;
  height: 40px !important;
}

progress::-webkit-progress-value {
  background: rgb(255, 0, 195);
  background: rgb(85, 85, 85);
  background: linear-gradient(
    90deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(103, 103, 103, 1) 26%,
    rgba(168, 168, 168, 1) 100%
  );
}

progress::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.05);
}
.progbar {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.9428;
  text-transform: none;
  color: rgb(255, 255, 255);
  max-width: 500px !important;
}

.skills-content {
  width: 40%;
  margin-left: 10%;
  margin-top: 7% !important;
  font-weight: 400;
  height: 60%;
  padding-left: 20px;
  padding-right: 20px;

  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(208, 208, 213, 0.497);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.skills-content h2 {
  font-weight: 500;
}

/* PORTFOLIO */
#portfolio {
  background-color: black;
  background-image: url(assets/starbucks.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100% !important;
}

#portfolio h2 {
  color: white !important;
  font-family: Montserrat;
  font-size: 3.371rem;
  font-weight: 600;
  line-height: 1.166;
  opacity: 0.5;
}

#portfolio h2 span {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.9428;
  text-transform: none;
  color: rgb(255, 255, 255);
}

#portfolio h2:hover {
  opacity: 1;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  animation: strike 0.6s linear;
  animation-name: strike;
}

@keyframes strike {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: auto;
  }
}

#portfolio h2 span:hover {
  text-decoration: none;
}

#portfolio hr {
  position: relative;
  z-index: 1;
}

.git-link {
  position: relative;
  width: 200px;
  z-index: 10;
}

.git-link a {
  font-family: "Montserrat", Sans-serif;
  font-size: medium;
  padding-left: 10px;
  font-weight: 300;
  text-decoration: none;
}

#portfolio a:hover {
  text-decoration: none !important;
  color: inherit;
}

#starbucks a:hover {
  background-image: url(assets/starbucks.jpg) no-repeat;
  background-position: inherit;
  background-repeat: inherit;
  background-size: inherit;
  height: inherit;
  width: inherit;
}

#calculator a:hover {
  background-image: url(assets/wildlife2.jpg) no-repeat;
  background-position: inherit;
  background-repeat: inherit;
  background-size: inherit;
  height: inherit;
  width: inherit;
}

#spacex a:hover {
  background-image: url(assets/spacex.jpg) no-repeat;
  background-position: inherit;
  background-repeat: inherit;
  background-size: inherit;
  height: inherit;
  width: inherit;
}

#greece a:hover {
  background-image: url(assets/greece.jpg) no-repeat;
  background-position: inherit;
  background-repeat: inherit;
  background-size: inherit;
  height: inherit;
  width: inherit;
}

/* TESTIMONIALS */

/* CONTACT */
#contact {
  background-color: black;
  background-image: url(assets/map_big.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100% !important;
  backdrop-filter: blur(2px);
}

#contact-info:hover {
  text-decoration: none;
}
